html{
    height: 100%;
}


body {
    color: black;
    background: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    width: 100%;
    height: 100%;
    margin: 0;
    text-indent: 0;
}

.display_none{
    display: none !important;
}


p, label{
    font-size: 24px;
    margin: 0;
    padding: 6px 0;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

div.header{
    display: flex;
    align-items: center;
    height: 64px;
    background-color: #3E50B4;
    padding: 0 24px;
}
div.header > p{
    font-size: 36px;
    color: white;
}

div.footer{
    position: sticky;
    top: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 36px;
    background-color: #3E50B4;
    padding: 0 24px;
    margin-top: 24px;
}
div.footer > p{
    font-size: 18px;
    color: white;
}


a{
    color: #3E50B4;
    cursor: pointer;
}

div.main{
    max-width: 480px;
    min-height: calc(100% - 142px);
    margin: 0 auto;
}

div.text_box_side{
    display: flex;
    justify-content: center;
    gap: 36px;
    margin: 24px;
}

p.main_text{
    text-align: center;
}


div.setting{
    margin: 24px;
}
div.setting div.checkbox{
    display: flex;
    align-items: center;
    gap: 8px;
}
div.setting input[type="checkbox"]{
    appearance: none;
    cursor: pointer;
    display: block;
    margin: 0;
    width: 42px;
    height: 24px;
    border-radius: 12px;
    background-color: #444;
    transition: background-color .3s ease;
    &::before{
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        margin: 2px;
        border-radius: 10px;
        background: white;
        transition: margin .3s ease;
    }
    &:checked{
        background-color: #3E50B4;
        &::before{
            margin-left: 20px;
        }
    }
}
div.setting label{
    display: block;
}


div.button, a.button{
    background-color: white;
    border-radius: 16px;
    margin: 16px 24px;
}
a.button{
    text-decoration: none;
    color: black;
}

div.select, a.select{
    cursor: pointer;
    height: 96px;
    position:relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
div.select > img, a.select > img{
    aspect-ratio: 1;
    width: 96px;
    height: auto;
    padding: 12px;
    box-sizing: border-box;
}
div.select > p, a.select > p{
    font-size: 36px;
}


div.status_display{
    margin: 16px 24px;
    padding: 8px;
    background: #ddd;
    border-radius: 8px;
}
p.status_display_text{
    user-select: none;
    font-size: 32px;
    padding: 8px 0;
}
div.payment_method{
    display: flex;
    justify-content: space-between;
}
p.payment_amount{
    text-align: right;
}


div.pay{
    user-select: none;
    background-color: white;
    aspect-ratio: 8/5;
    display: flex;
    font-size: 40px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.pay > img{
    touch-action: none;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    height: 50%;
}
div.pay.stby{
    cursor: pointer;
    box-shadow: skyblue 0 0 16px;
}
div.pay.done#pay_credit{
    box-shadow: greenyellow 0 0 16px;
}
div.pay.done#pay_FeliCa{
    box-shadow: skyblue 0 0 16px;
}
div.pay.error{
    box-shadow: red 0 0 16px;
}


div.back_button{
    cursor: pointer;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-sizing: border-box;
    position: sticky;
    top: 100vh;
    margin-bottom: 0px;
}